<div class="container">

<div class=" me-auto ms-auto mt-5" style="width: 40%;">
    <h1>Add Product</h1>
    <form action="" class="mt-5">
        <div class="mb-3">
          <label for="" class="form-label">Product Name</label>
          <input type="text" class="form-control" >
         
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Brand</label><br>
        
            <select name="brand" id="brand" style="width: 100%;height: 40px;">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
         
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Select category</label><br>
        
            <select name="brand" id="brand" style="width: 100%;height: 40px;">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
         
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Select sub category</label><br>
        
            <select name="brand" id="brand" style="width: 100%;height: 40px;">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
         
        </div>

        <div class="mb-3">
            <label for="" class="form-label">Select sub category</label><br>
        
            <select name="brand" id="brand" style="width: 100%;height: 40px;">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="opel">Opel</option>
              <option value="audi">Audi</option>
            </select>
         
        </div>


        <div class="mb-3">
            <label for="" class="form-label" >Small quantity</label>
            <input type="text" style="width: 30%;" class="ms-4 mt-3">
        </div>

        <div class="mb-3">
            <label for="" class="form-label" >Medium quantity</label>
            <input type="text" style="width: 30%;"class="ms-1">
        </div>

        <div class="mb-3">
            <label for="" class="form-label" >Large quantity</label>
            <input type="text" style="width: 30%;"class="ms-4">
        </div>


        <div class="mb-3">
            <label for="" class="form-label">Price</label>
            <input type="text" class="form-control" >
           
          </div>


          <div class="mb-3">
            <label for="" class="form-label">Description</label><br>
           <textarea name="" id="" cols="50" rows="5"></textarea>
           
          </div>

        

        <button type="submit" class="btn btn-primary mt-1" style="width: 100%;">Submit</button>
      </form>
    </div>
            </div>