
        <div class="auth-content ms-auto me-auto mt-5 login-page-container shadow p-3 mb-5 bg-body rounded" style="position:fixed;top:16%;right:35%;">
           
                  
                    <h6 class="mb-4 text-muted">Login to your account</h6>
                    <form action="/admin/adminlogin" method="post">
                    <p style="color: red;">{{invalidusername}}</p>
                        <div class="mb-3 text-start">
                            <label for="email" class="form-label">Email adress</label>
                            <input type="email" name="emailaddress" class="form-control" placeholder="Enter Email" required>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" name="password" class="form-control" placeholder="Password" required>
                        </div>
                       
                        <button type="submit" class="btn btn-primary shadow-2 mb-4">Login</button>
                    </form>
                 
               
        </div>  


