<div class="container">
 <div class="card mt-5">
        <div class="card-header">
          Add category
        </div>
        <div class="card-body">
            <label for="">Enter category</label>
            <input type="text">
          <button type="submit" class="btn btn-primary">Add</button>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">
          Add sub category
        </div>
        <div class="card-body">
            <label for="">Select category</label>
          
            <select name="cars" id="cars">
              <option value="volvo">Volvo</option>
              <option value="saab">Saab</option>
              <option value="mercedes">Mercedes</option>
              <option value="audi">Audi</option>
            </select>
            <input type="text"><button class="btn btn-primary ms-4">Add sub category</button>
        </div>
      </div>



      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Subcategory</th>
            <!-- <th scope="col">Handle</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
          
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
       
          </tr>
        </tbody>
      </table>
  
        
</div>