  
  <div class="container">
  <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">Overview</div>
                            <h2 class="page-title">Dashboard</h2>
                        </div>
                    </div>


<div class="row p-2">
    <div class="col-lg-3  col-sm-12">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
  <i class="teal fas fa-shopping-cart fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">TOTAL ORDERS</h6>
    <h2 class=" mb-2  mt-4 " >{{totalorders}}</h2>
</div>
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  
  </div>
</div>
</div> 



    <div class="col-lg-3  col-sm-12">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
   <i class="olive fas fa-money-bill-alt fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">REVENUE</h6>
    <h2 class=" mb-2  mt-4 " >{{revenue}}</h2>
</div>
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  
  </div>
</div>
</div> 


    <div class="col-lg-3 col-sm-12">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
  <i class="orange fab fa-product-hunt fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">TOTAL PRODUCTS</h6>
    <h2 class=" mb-2  mt-4 " >{{totalProducts}}</h2>
</div>
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  
  </div>
</div>
</div> 



   <div class="col-lg-3 col-sm-12">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
  <i class="violet  fas fa-users fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">TOTAL USERS</h6>
    <h2 class=" mb-2  mt-4 " >{{totalUsers}}</h2>
</div>
    </div>
   
  
  </div>
</div>
</div> 


</div>
 






<div class="row mt-5">
    <div class="col-md-6">
        <h6>Order Status</h6>
        <canvas id="myChart1" width="250" height="150"></canvas>
    </div>
  
    <div class="col-md-6" >
        <h6>Daily sales amount</h6>
        <canvas id="myChart11"  width="250" height="150"></canvas>
    </div>

  
 
</div>



<div class="row mt-5">

    <div class="col-md-4">
        <h6>Payment Methods</h6>
<canvas id="myChart2"  width="250" height="150"></canvas>
    </div>

    

  <div class="col-md-4">
         <h6>Category wise sales</h6>
<canvas id="myChart3"  width="250" height="150"></canvas>
    </div>


  

   
    </div>

    

</div>








   





  


    
 








</div>
