  
  <div class="container">
  <div class="row">
                        <div class="col-md-12 page-header">
                            <div class="page-pretitle">Overview</div>
                            <h2 class="page-title">Dashboard</h2>
                        </div>
                    </div>


<div class="row p-2">
    <div class="col-3 ">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
  <i class="teal fas fa-shopping-cart fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">TOTAL ORDERS</h6>
    <h2 class=" mb-2  mt-4 " >6545</h2>
</div>
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  
  </div>
</div>
</div> 



    <div class="col-3">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
   <i class="olive fas fa-money-bill-alt fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">REVENUE</h6>
    <h2 class=" mb-2  mt-4 " >6545</h2>
</div>
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  
  </div>
</div>
</div> 


    <div class="col-3 ">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
  <i class="orange far fa-thumbs-up fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">PLACED ORDERS</h6>
    <h2 class=" mb-2  mt-4 " >6545</h2>
</div>
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  
  </div>
</div>
</div> 



   <div class="col-3">
<div class="card" style="width: 20rem;">
  <div class="card-body">
      <div class="row">
          <div class="col-5">
  <i class="violet  fas fa-users fa-4x mt-3"></i>
</div>

       <div class="col-7">
    <h6 class="card-title mt-2">TOTAL USERS</h6>
    <h2 class=" mb-2  mt-4 " >6545</h2>
</div>
    </div>
    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}
  
  </div>
</div>
</div> 


</div>
 


 <div class="row">
     <div class="col-6">
<canvas id="myChart" width="400" height="300"></canvas>
</div>

 {{!-- <div class="col-6">
         <canvas id="myChart2" width="400" height="300"></canvas>
     </div> --}}
</div> 




    
     {{!-- <div class="col-6">
         <canvas id="myChart3" width="400" height="auto"></canvas>
     </div> --}}








</div>
