<div style="background-color: rgb(235, 235, 235);">
 <h3 class="" style="text-align: center;">CATEGORY OFFER MANAGMENT</h3>

<form action="/offermangment" method="post">

  <select style="border: none;" name="subbannercategoryone" id="">
         {{#each categoryData}}
         <option>{{this.category}}</option>
         {{/each}}
     </select><br>

</form>


</div>