
<div class="container">
  <a href="/admin/add-product" class="btn btn-success mt-4">Add product</a>
            <h2 class="mt-5">PRODUCT DETAILS</h2>
    <table class="table table-striped mt-5">
        <thead>
          <tr>
            <th scope="col">product Id</th>
            <th scope="col">Name</th>
            <th scope="col">Brand</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Qty</th>
            <th scope="col">Images</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          
          </tr>
        </tbody>
      </table>
   </div>