<!-- The sidebar -->
<div class="sidebar">
  <a class="active" href="#home">Dashboard</a>
  <a href="/admin/category-managment">Category managment</a>
  <a href="/admin/brand-managment">Brand managment</a>
  <a href="/admin/view-product">Product details</a>
  <a href="/admin/adminlogout">Logout</a>
  
</div>

