<!-- The sidebar -->
<div class="sidebar">

                          
                             
                               <h4 style="color:#e7ab3c;" class="ms-5 mt-3">Sportshub</h4>
                            
                    


  <a  href="/admin/" style="font-size: 1rem;color:#fff"><i class="fas fa-home mt-3 me-2"></i>Dashboard</a>
  <a href="/admin/category-managment" style="font-size: 1rem;color:#fff"><i class="fas fa-tasks me-2"></i>Category managment</a>
  <a href="/admin/brand-managment" style="font-size: 1rem;color:#fff"><i class="fas fa-copyright me-2"></i>Brand managment</a>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle ms-1" type="button" style="background-color: #142F43;font-size: 1rem;color:#fff;border:none" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="fas fa-shopping-cart  me-2"></i> Product managment
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><a class="dropdown-item" href="/admin/view-product">View and edit all products</a></li>
    <li><a class="dropdown-item" href="/admin/add-product">Add products</a></li>
   
  </ul>
</div>







  <a href="/admin/usermanagment" style="font-size: 1rem;color:#fff"><i class="fas fa-users me-2"></i>User managment</a>
  <a href="/admin/ordermanagment" style="font-size: 1rem;color:#fff"><i class="fas fa-location-arrow me-2"></i>Order managment</a>
  <a href="/admin/bannermanagment" style="font-size: 1rem;color:#fff"><i class="fas fa-image me-2" ></i>Banner managment</a>

<div class="dropdown mt-2">
  <button class="btn btn-secondary dropdown-toggle ms-2" type="button" style="background-color: #142F43;font-size: 1rem;color:#fff;border:none" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="fas fa-money-bill-alt me-2"></i> Offer managment
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/admin/categoryoffermanagment">Category offer managment</a></li>
    <li><a class="dropdown-item" href="/admin/productoffermanagment">Product offer managment</a></li>
    <li><a class="dropdown-item" href="/admin/coupenmanagment">Coupon managment</a></li>
   
  </ul>
</div>




  <a href="/admin/report" style="font-size: 1rem;color:#fff"><i class="fas fa-balance-scale me-3" ></i>Sales Report</a>

 <a href="/admin//productreport" style="font-size: 1rem;color:#fff"><i class="far fa-address-card me-3" ></i>User Report</a>


  <a href="/admin/adminlogout" style="font-size: 1rem;color:#fff"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>


  
</div>

