<!-- The sidebar -->
<div class="sidebar">

  <a  href="#home" style="font-size: 1.2rem;color:#fff"><i class="fas fa-home mt-3 me-2"></i>Dashboard</a>
  <a href="/admin/category-managment" style="font-size: 1.2rem;color:#fff"><i class="fas fa-tasks me-2"></i>Category managment</a>
  <a href="/admin/brand-managment" style="font-size: 1.2rem;color:#fff"><i class="fas fa-copyright me-2"></i>Brand managment</a>
  <a href="/admin/view-product" style="font-size: 1.2rem;color:#fff"><i class="fas fa-shopping-cart me-2"></i>Product details</a>
  <a href="/admin/usermanagment" style="font-size: 1.2rem;color:#fff"><i class="fas fa-users me-2"></i>User managment</a>
  <a href="/admin/ordermanagment" style="font-size: 1.2rem;color:#fff"><i class="fas fa-location-arrow me-2"></i>Order managment</a>
  <a href="/admin/bannermanagment" style="font-size: 1.2rem;color:#fff"><i class="fas fa-image me-2" ></i>Banner managment</a>
  <a href="/admin/adminlogout" style="font-size: 1.2rem;color:#fff"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>
  
</div>

