
  
    <!-- Header Section Begin -->
    <header class="header-section" id="headerid">
     
    
         
       
        <div class="container" >
          
            <div class="inner-header">
                <div class="row">
                    <div class="col-lg-3 col-md-2">
                        <div class="logo">
                          
                         
                               <a href="/"><h4 style="color:#e7ab3c;">Sportshub</h4></a>  
                           
                        </div>
                    </div>
                   
                    <div class="col-lg-3 text-right col-md-3 ml-auto">
                        <ul class="nav-right">

                         <li class="heart-icon">
                                <a href="/userprofile">
                                   <i class="fas fa-user-circle"></i>
                                   
                                </a>
                            </li>


                            <li class="heart-icon">
                                <a href="/wishlist">
                                   <i class="far fa-heart"></i>
                                   
                                </a>
                            </li>
                            <li class="cart-icon">
                                <a href="/shopping-cart">
                                    <i class="fas fa-shopping-bag"></i>
                                    <span id="cartcountvalue">{{cartcount}}</span>
                                </a>
                               
                            </li>
                          
                        </ul>
                    </div>
                </div>
            </div>
        </div>
       
        <div class="nav-item">
            <div class="container">
              
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        
                      
                        {{#each allCategory}}
                        <li><a href="/shopcategory?categoryname={{this.category}}">{{this.category}}</a></li>
                       {{/each}}
                           
                        </li>
                       
                       
                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->