.error{
    color: red !important;
}
.selectsize{
    display: none;
}
.qtybt{
    background-color: #fff;
    border:1px solid #cecdcd;

}
.hidebut{
    color: #cecdcd;
}
.centericon{
    position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);

padding: 10px;
}
