 <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/">Shop</a>
                        <span>Check Out</span>
                                         <div class="logo" style="float:right">
                          
                                 {{!-- <img src="images/users/logo.png" alt="">  --}}
                                <h4 style="color:#e7ab3c;">Sportshub</h4> 
                           
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin --> 
 
  <div class="form-group " style="width: 30%;position:fixed;top:26%;right:35%;">
<form action="/loginidentify" method="post" class="p-2" style="border: solid 1px #e7ab3c;" >
<p style="color: red;">{{phonenumberExistError}}</p>
<p style="color:red">{{blockedError}}</p>
    <label class="mt-2" style="font-size: 1.4rem;" >Find Your Account <span style="font-size: 1rem;"></label>
    <p>Please enter your phone number to change password and to search your account</p>
    <input type="number" class="form-control mt-3"  name="number">
      <button type="submit" style="background-color: #e7ab3c;width:80%;"  class="btn mt-4 ml-4 mb-5">Continue</button>
 
</form>

 </div>
