 <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        
                                         <div class="logo" style="float:right">
                          
                            
                                <h4 style="color:#e7ab3c;">Sportshub</h4> 
                           
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

  <!-- form card reset password -->
   



                     <style>
   .btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{

}

a{
  text-decoration: none;
}
 </style>


 <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3 ">
        
     
        <div class="card my-5 p-5 shadow bg-body rounded" style="border: none;">

          <form class="card-body cardbody-color p-lg-5" action="/passwordchange" method="post" class="form" role="form" autocomplete="off">
     
<h4 class="text-center text-dark mb-5">Password Reset</h4>
            <div class="mb-3">
                <label for="inputResetPasswordEmail">New password</label>
                                    <input type="password" name="newpassword" class="form-control" id="inputResetPasswordEmail" required="">
             <input type="password" class="form-control" name="phonenumber" style="display: none;" value="{{phonenumber}}" id="inputResetPasswordEmail" required="">
            </div>
          
            <div class="text-center"><button type="submit" style="background-color: #e7ab3c;" class="btn btn-color px-5 mb-5 w-100">Reset</button></div>
           
          </form>
        </div>

      </div>
    </div>
  </div>

