  <!-- form card reset password -->
                    <div class="card card-outline-secondary" style="margin-left: auto;
     margin-right: auto ; width: 35%;margin-top: 15%;">
                        <div class="card-header">
                            <h3 class="mb-0">Password Reset</h3>
                        </div>
                        <div class="card-body">
                            <form action="/passwordchange" method="post" class="form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="inputResetPasswordEmail">New password</label>
                                    <input type="text" name="newpassword" class="form-control" id="inputResetPasswordEmail" required="">
                                    {{!-- <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                            Password reset instructions will be sent to this email address.
                                        </span> --}}
                                        <input type="password" class="form-control" name="phonenumber" style="display: none;" value="{{phonenumber}}" id="inputResetPasswordEmail" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" style="color:#e7ab3c" class="btn  btn-lg float-right">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /form card reset password -->