 <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/">Shop</a>
                        <span>Check Out</span>
                                         <div class="logo" style="float:right">
                          
                                 {{!-- <img src="images/users/logo.png" alt="">  --}}
                                <h4 style="color:#e7ab3c;">Sportshub</h4> 
                           
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

  <!-- form card reset password -->
                  
{{!--                   
                  
                    <div class="card card-outline-secondary" style="margin-left: auto;
     margin-right: auto ; width: 35%;margin-top: 15%;">
                        <div class="card-header">
                            <h3 class="mb-0">Password Reset</h3>
                        </div>
                        <div class="card-body">
                            <form action="/passwordchange" method="post" class="form" role="form" autocomplete="off">
                                <div class="form-group">
                                    <label for="inputResetPasswordEmail">New password</label>
                                    <input type="password" name="newpassword" class="form-control" id="inputResetPasswordEmail" required="">
                                    {{!-- <span id="helpResetPasswordEmail" class="form-text small text-muted">
                                            Password reset instructions will be sent to this email address.
                                        </span> --}}
                                        <input type="password" class="form-control" name="phonenumber" style="display: none;" value="{{phonenumber}}" id="inputResetPasswordEmail" required="">
                                </div>
                                <div class="form-group">
                                    <button type="submit" style="color:#e7ab3c" class="btn  btn-lg float-right">Reset</button>
                                </div>
                            </form>
                        </div>
                    </div> --}}
                    <!-- /form card reset password -->



                     <style>
   .btn-color{
  background-color: #0e1c36;
  color: #fff;
  
}

.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}
 </style>


 <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        
     
        <div class="card my-5 p-5" style="border: none;">

          <form class="card-body cardbody-color p-lg-5" action="/passwordchange" method="post" class="form" role="form" autocomplete="off">
     
<h4 class="text-center text-dark mb-5">Password Reset</h4>
            <div class="mb-3">
                <label for="inputResetPasswordEmail">New password</label>
                                    <input type="password" name="newpassword" class="form-control" id="inputResetPasswordEmail" required="">
             <input type="password" class="form-control" name="phonenumber" style="display: none;" value="{{phonenumber}}" id="inputResetPasswordEmail" required="">
            </div>
          
            <div class="text-center"><button type="submit" style="background-color: #e7ab3c;" class="btn btn-color px-5 mb-5 w-100">Reset</button></div>
            {{!-- <div id="emailHelp" class="form-text text-center mb-5 text-dark">Not
              Registered? <a href="/register" class="text-dark fw-bold"> Create an
                Account</a>
            </div> --}}
          </form>
        </div>

      </div>
    </div>
  </div>

