
  
   

    {{!-- <button style="border: none;background-color:#e7ab3c; width:100%" class="btn  mt-4">Order detials</button><br>
   <a href="/" class="btn mt-3 " style="border: none;background-color:#e7ab3c; width:100%">Continue shopping</a> --}}
   


    <div class="card content" style="width: 100%; border:none">
  <div class="card-body mt-5">
     <i class="fas fa-check-circle fa-7x" style="color:rgb(26, 135, 26)" ></i>
      <h5 class="mt-4 ">Order succesfull </h5>
          <p>Thank you for your order.If you have any query contact through email</p> 
          <a href="/userorderdetails" class="btn  mt-4" style="background-color: #e7ab3c";>Order details</a><br>
           <a href="/" class="btn mt-4" style="background-color: #e7ab3c;">Continue shopping</a>

  </div>
</div>