
  
    <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/">Shop</a>
                        <span>Check Out</span>
                                         <div class="logo" style="float:right">
                          
                         
                                <h4 style="color:#e7ab3c;">Sportshub</h4> 
                           
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

 
   


    <div class="card content" style="width: 100%; border:none">
  <div class="card-body mt-5">
     <i class="fas fa-check-circle fa-7x" style="color:rgb(26, 135, 26)" ></i>
      <h5 class="mt-4 ">Order succesfull </h5>
          <p>Thank you for your order.If you have any query contact through email</p> 
          <a href="/userorderdetails" class="btn  mt-4" style="background-color: #e7ab3c";>Order details</a><br>
           <a href="/" class="btn mt-4" style="background-color: #e7ab3c;">Continue shopping</a>

  </div>
</div>