<div style="" class="centericon">
    <i class="fas fa-check-circle fa-7x" style="color:rgb(16, 170, 16)" ></i>
    <h5 class="mt-4 ">Order succesfull </h5>
    {{!-- <p>Thank you for your order.If you have any query contact through email</p> --}}
    <button style="border: none;background-color:#e7ab3c; width:100%" class="btn  mt-4">Order detials</button><br>
   <a href="/" class="btn mt-3 " style="border: none;background-color:#e7ab3c; width:100%">Home</a>
    </div>