
 <style>

.otc {
	position: relative;
	width: 320px;
	margin: 0 auto;
}

.otc fieldset {
	border: 0;
	padding: 0;
	margin: 0;
}

.otc fieldset div {
	display: flex;
	align-items: center;
}

.otc legend {
	margin: 0 auto 1em;
	color: #5555FF;
}

input[type="number"] {
	width: .82em;
	line-height: 1;
	margin: .4em;
	padding: 8px 0 4px;
	font-size: 1.3em;
	text-align: center;
	appearance: textfield;
	-webkit-appearance: textfield;
	border: 1px solid #726448;
	color: rgb(80, 72, 72);
	border-radius: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* 2 group of 3 items */
input[type="number"]:nth-child(n+4) {
	order: 2;
}
.otc div::before {
	content: '';
	height: 2px;
	width: 24px;
	margin: 0 .25em;
	order: 1;
	background: #e7ab3c;
}

/* From: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034 */
.otc label {
	border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;
}


 </style>



 <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                       
                                         <div class="logo" style="float:right">
                          
                            
                                <h4 style="color:#e7ab3c;">Sportshub</h4> 
                           
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

<link rel='stylesheet' href='/stylesheets/users/otp.css'/>




    <div class="container height-100 d-flex justify-content-center align-items-center">
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h5 style="color: red;" class="text-center otperror" id="error">Invalid otp</h5>
                <h6>Please enter the one time password <br> to verify your account</h6>
            
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                    {{!-- <input
                        class="m-2 text-center form-control rounded" type="number"   name="otp" id="first" maxlength="1" />
                    <input 
                     class="m-2 text-center form-control rounded" type="number" name="otp" id="second" maxlength="1" />
                     <input
                        class="m-2 text-center form-control rounded" type="number" id="third" name="otp" maxlength="1" />
                         <input
                        class="m-2 text-center form-control rounded" type="number" id="fourth" name="otp" maxlength="1" />
                         <input
                        class="m-2 text-center form-control rounded" type="number" id="fifth" name="otp" maxlength="1" />
                         <input
                        class="m-2 text-center form-control rounded" type="number" id="sixth" name="otp" maxlength="1" /> --}}


            
<form class="otc" name="one-time-code" >
	<fieldset>
	
		<label for="otc-1">Number 1</label>
		<label for="otc-2">Number 2</label>
		<label for="otc-3">Number 3</label>
		<label for="otc-4">Number 4</label>
		<label for="otc-5">Number 5</label>
		<label for="otc-6">Number 6</label>

		<!-- https://developer.apple.com/documentation/security/password_autofill/enabling_password_autofill_on_an_html_input_element -->
		<div>
		<input type="number" pattern="[0-9]*"  value="" inputtype="numeric" id="first" autocomplete="one-time-code" style="width: 32px;" id="otc-1" required>

		<!-- Autocomplete not to put on other input -->
		<input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" id="second"  value="" inputtype="numeric" id="otc-2" required>
		<input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" id="third"  value="" inputtype="numeric" id="otc-3" required>
		<input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" id="fourth"  value="" inputtype="numeric" id="otc-4" required>
		<input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" id="fifth"  value="" inputtype="numeric" id="otc-5" required>
		<input type="number" pattern="[0-9]*" min="0" max="9" maxlength="1" id="sixth" value="" inputtype="numeric" id="otc-6" required>
		</div>
	</fieldset>
</form>




                         <input
                        class="m-2 text-center form-control rounded" style="display: none;" type="text" id="phonnumber" name="phonenumber" value="{{phoneNumber}}"  maxlength="1" />
                         </div>
                <div class="mt-4"> <button  id="btn-submit" class="btn btn-danger px-4 validate" onclick="otpformforpasswordchange()">Validate</button> </div>
            </div>
            <div class="card-2 text-center" style="width: 100%;">

<div class="content d-flex justify-content-center align-items-center"> <p id="timeleft" class="mt-3 " >Resend otp:</p><span id="timer"></span></div>

                <div class="content d-flex justify-content-center align-items-center " > <a id="resend" href="/loginresendpassword"  class="text-decoration-none ms-3 otprequest" >Resend</a> </div>
            </div> 





        </div>
    </div>


<script src="/javascripts/users/otp.js"></script>



 <script>
     let in1 = document.getElementById('otc-1'),
    ins = document.querySelectorAll('input[type="number"]'),
	 splitNumber = function(e) {
		let data = e.data || e.target.value; // Chrome doesn't get the e.data, it's always empty, fallback to value then.
		if ( ! data ) return; // Shouldn't happen, just in case.
		if ( data.length === 1 ) return; // Here is a normal behavior, not a paste action.
		
		popuNext(e.target, data);
		//for (i = 0; i < data.length; i++ ) { ins[i].value = data[i]; }
	},
	popuNext = function(el, data) {
		el.value = data[0]; // Apply first item to first input
		data = data.substring(1); // remove the first char.
		if ( el.nextElementSibling && data.length ) {
			// Do the same with the next element and next data
			popuNext(el.nextElementSibling, data);
		}
	};

ins.forEach(function(input) {
	/**
	 * Control on keyup to catch what the user intent to do.
	 * I could have check for numeric key only here, but I didn't.
	 */
	input.addEventListener('keyup', function(e){
		// Break if Shift, Tab, CMD, Option, Control.
		if (e.keyCode === 16 || e.keyCode == 9 || e.keyCode == 224 || e.keyCode == 18 || e.keyCode == 17) {
			 return;
		}
		
		// On Backspace or left arrow, go to the previous field.
		if ( (e.keyCode === 8 || e.keyCode === 37) && this.previousElementSibling && this.previousElementSibling.tagName === "INPUT" ) {
			this.previousElementSibling.select();
		} else if (e.keyCode !== 8 && this.nextElementSibling) {
			this.nextElementSibling.select();
		}
		
		// If the target is populated to quickly, value length can be > 1
		if ( e.target.value.length > 1 ) {
			splitNumber(e);
		}
	});
	
	/**
	 * Better control on Focus
	 * - don't allow focus on other field if the first one is empty
	 * - don't allow focus on field if the previous one if empty (debatable)
	 * - get the focus on the first empty field
	 */
	input.addEventListener('focus', function(e) {
		// If the focus element is the first one, do nothing
		if ( this === in1 ) return;
		
		// If value of input 1 is empty, focus it.
		if ( in1.value == '' ) {
			in1.focus();
		}
		
		// If value of a previous input is empty, focus it.
		// To remove if you don't wanna force user respecting the fields order.
		if ( this.previousElementSibling.value == '' ) {
			this.previousElementSibling.focus();
		}
	});
});

/**
 * Handle copy/paste of a big number.
 * It catches the value pasted on the first field and spread it into the inputs.
 */
in1.addEventListener('input', splitNumber);
  

 </script>