 <!-- Breadcrumb Section Begin -->
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        <a href="/">Shop</a>
                        <span>Check Out</span>
                                         <div class="logo" style="float:right">
                          
                                 {{!-- <img src="images/users/logo.png" alt="">  --}}
                                <h4 style="color:#e7ab3c;">Sportshub</h4> 
                           
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->


<link rel='stylesheet' href='/stylesheets/users/otp.css'/>




    <div class="container height-100 d-flex justify-content-center align-items-center" >
        <div class="position-relative">
            <div class="card p-2 text-center">
                <h3 style="color: red;" class="text-center otperror" id="error">Invalid otp</h3>
                <h6>Please enter the one time password <br> to verify your account</h6>
                {{!-- <div> <span>A code has been sent to</span> <small>***9897</small> </div> --}}
                <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2"> 
                    <input
                        class="m-2 text-center form-control rounded" type="text" name="otp" id="first" maxlength="1" />
                    <input 
                     class="m-2 text-center form-control rounded" type="text" name="otp" id="second" maxlength="1" />
                     <input
                        class="m-2 text-center form-control rounded" type="text" id="third" name="otp" maxlength="1" />
                         <input
                        class="m-2 text-center form-control rounded" type="text" id="fourth" name="otp" maxlength="1" />
                         <input
                        class="m-2 text-center form-control rounded" type="text" id="fifth" name="otp" maxlength="1" />
                         <input
                        class="m-2 text-center form-control rounded" type="text" id="sixth" name="otp" maxlength="1" />
                         <input
                        class="m-2 text-center form-control rounded" style="display: none;" type="text" id="phonnumber" name="phonenumber" value="{{phoneNumber}}"  maxlength="1" />
                         </div>
                  {{#if registerotp}}
                 <div class="mt-4"> <button  id="btn-submit" class="btn btn-danger px-4 validate" onclick="otpregisterform()">Validate</button> </div>
                  {{else}}
                <div class="mt-4"> <button  id="btn-submit" class="btn btn-danger px-4 validate" onclick="otpform()">Validate</button> </div>
             {{/if}}
            </div>
            <div class="card-2 row">
    
  <div class="content d-flex justify-content-center align-items-center"> <p id="timeleft" class="mt-3">Resend otp in: </p> <span id="timer"></span></div>
                   {{#if registerotp}}
                <div class="content d-flex justify-content-center align-items-center " > <a id="resend" href="/registerresend"  class="text-decoration-none ms-3 otprequest" >Resend</a> </div>
                {{else}}
                 <div class="content d-flex justify-content-center align-items-center " > <a id="resend" href="/loginresend"  class="text-decoration-none ms-3 otprequest" >Resend</a> </div>
                 {{/if}}
            
</div>
            </div>



        </div>
  


<script src="/javascripts/users/otp.js"></script>