  
  
  <div class="form-group " style="width: 30%;position:fixed;top:26%;right:35%;">
<form action="/phonenumberpage" method="post" id="phonenumberpage" class="p-2" style="border: solid 1px #e7ab3c;" >
<p style="color: red;">{{phonenumberExistError}}</p>
<p style="color: red;">{{blockedError}}</p>
    <label class="mt-2" style="font-size: 1.4rem;" >Login <span style="font-size: 1rem;"></label>
    <p>Enter your phone number</p>
    <input type="number" class="form-control mt-3"  name="number">
      <button type="submit" style="background-color: #e7ab3c;width:80%;"  class="btn mt-4 ml-4 mb-5">Continue</button>
  <p style="display:inline-block">don't have an account</p>  <a href="/register" class="text-primary">Create An Account</a>
</form>

 </div>

