
    <div class="breacrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text product-more">
                        <a href="/"><i class="fa fa-home"></i> Home</a>
                        
                        <span>Rgister</span>
                                         <div class="logo" style="float:right">
                          
                             
                                <h4 style="color:#e7ab3c;">Sportshub</h4> 
                           
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Section Begin -->

    <!-- Register Section Begin -->
    <div class="register-login-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-4 offset-lg-3 shadow p-3  bg-body rounded" style="background-color: #fafafa;">
                    <div class="register-form">
                        <h4>Register</h4>
                        <form action="/register" id="register-form" method="post">
                            <div class="group-input">
                              
                                <input type="text" placeholder="Name" name="name" id="username">
                            </div>
<p style="color: red;">{{emailphonenumberExistError}}</p>
                            <div class="group-input">
                                  
                           
                                <input type="text" placeholder="Phone number" name="phonenumber" id="username">
                            </div>

                            <div class="group-input">
                             
                                <input type="text" placeholder="Email" name="emailaddress" id="username">
                            </div>
                            <div class="group-input">
                       
                                <input type="password" placeholder="password" name="password" id="pass">
                            </div>
                            <div class="group-input">
                      
                                <input type="password" placeholder="confirm password" name="confirmpassword" id="con-pass">
                                <p style="color: red;">{{confirmPasswordError}}</p>
                            </div>
                            <button type="submit" class="site-btn register-btn">REGISTER</button>
                        </form>
                        <div class="switch-login">
                         <p style="display: inline-block;">already have an account?</p>   <a href="/userlogin" class="text-primary">Login</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>
        </div>
    </div>
    <!-- Register Form Section End -->

    